[Desktop Entry]
Categories=X-MandrivaLinux;AudioVideo;Audio;
Comment[it]=csoundqt Qt signal processing environment
Comment=csoundqt Qt signal processing environment
Exec=csoundqt
GenericName[it]=csoundqt
GenericName=csoundqt
Icon=csoundqt
MimeType=
Name[it]=csoundqt
Name=csoundqt
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
