[Desktop Entry]
Categories=X-MandrivaLinux;AudioVideo;Audio;
Comment[it]=qutecsound Qt signal processing environment
Comment=qutecsound Qt signal processing environment
Exec=qutecsound
GenericName[it]=qutecsound
GenericName=qutecsound
Icon=qutecsound
MimeType=
Name[it]=qutecsound
Name=qutecsound
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
